.wrapper {
  background-color: #131521;
  width: 100%;
  height: 100%;

}

.wrapperContainer_items{
  z-index: 999;
}

.wrapperContainer {
//  padding: 0 70px 50px 70px;
  height: 100vh;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.line {
  background-color: rgba(46, 52, 78, 0.45);
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;


  &:nth-child(1) {
    top: 0;
    left: 19.5%;
  }

  &:nth-child(2) {
    top: 0;
    left: 39.5%;
  }

  &:nth-child(3) {
    top: 0;
    left: 59.5%;
  }

  &:nth-child(4) {
    top: 0;
    left: 79.5%;
  }
}

.name {
  color: #037fff;
  font-weight: 700;
  font-size: 3.2857rem;
  line-height: 4rem;
}

.title {
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 3.2857rem;
  line-height: 4rem;
  margin: 0 0 8px 0;
  font-weight: 700;
  text-align: center;
}

.text {
  color: #a4acc4;
  margin: 20px 0 25px 0;
  text-align: center;
  font-size: 23px;
  line-height: 2rem;
  max-width: 856px;

}



svg {
  path {
    fill: #ffffff;

  }

  width: 40px;
}

.roundOnSvg {
  width: 40px;
  height: 10px;

  background-color: white;
}

.container_span {
  width: 100%;
  display: flex;
  justify-content: center;

}

.container_span_svg {
  background-color: rgba(255, 255, 255, 0.57);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: all 0.3s ease;

  &:last-child {
    margin-right: 0;
  }

  svg {
    path {
      fill: black;
    }

    margin-right: 0;
    width: 30px;
  }

  &:nth-child(1) {
    svg {
      width: 25px;

    }
  }

  &:nth-child(2) {
    svg {
      width: 20px;

    }
  }

  &:hover {

    cursor: pointer;
    //  transition: all 0.3s ease;
    background-color: rgba(19, 21, 33, 0);

    svg {
      path {
        fill: white;
        transition: all 1s ease;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: #037fff;
        transition: none;
      }
    }
  }

}

