.wrapperResume {
  padding: 0 70px 50px 70px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #131521;
  @media (max-width: 1000px) {
    padding: 0 10px 50px 10px;
  }

}

.line {
  background-color: #2e344e;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;


  &:nth-child(1) {
    top: 0;
    left: 20%;
  }

  &:nth-child(2) {
    top: 0;
    left: 40%;
  }

  &:nth-child(3) {
    top: 0;
    left: 60%;
  }

  &:nth-child(4) {
    top: 0;
    left: 80%;
  }
}


.my_skills {
  height: 100%;
  font-family: Nunito, sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  position: relative;
}

.my_skillsItem_containers {

  &:last-child {
    margin: 0;
  }

  &:nth-child(3) {
    top: 40px;
  }
}


.my_skillsItem_circle {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 30px;
  position: relative;
  margin: 0 0 25px 0px;
  letter-spacing: 4px;
  transition: all 0.3s ease;

  &:nth-child(1) {
    animation: anime 1s linear;

    span {
      svg {
        path {
          fill: #0090e3
        }

        animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0s;
      }
    }
  }

  &:nth-child(2) {
    animation: anime 2s linear;

    span {
      svg {
        path {
          fill: #0090e3
        }

        animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 1s;
      }
    }
  }

  &:nth-child(3) {
    animation: anime 3s linear;

    span {
      svg {
        path {
          fill: #0090e3
        }

        animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 2s;
      }
    }
  }

  &:nth-child(4) {
    animation: anime 4s linear;

    span {
      svg {
        path {
          fill: #0090e3
        }

        animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 3s;
      }
    }
  }

  &:nth-child(5) {
    animation: anime 5s linear;

    span {
      svg {
        path {
          fill: #0090e3
        }

        animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 4s;
      }
    }
  }

  &:nth-child(6) {
    animation: anime 6s linear;

    span {
      svg {
        path {
          fill: #0090e3
        }

        animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 5s;
      }

    }

  }

  &:nth-child(7) {
    animation: anime 7s linear;

    span {
      svg {
        path {
          fill: #0090e3
        }

        animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 6s;
      }
    }
  }
}

@keyframes anime {
  0% {
    color: #868c9c;

  }
  90% {
    color: #868c9c;

  }
  100% {
    color: #0090e3;

  }
}

.my_skillsItem_circleImg {
  margin-right: 15px;

  svg {
    width: 30px;
  }
}


@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(360deg);
    transform: translateX(0) rotate(360deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slash {
  color: #0090e3;

}


.workingExperience {
  display: flex;
  margin: 50px 0 30px 0;

  svg {
    margin-right: 10px;
    width: 40px;
    height: 35px;
  }
}

.workingExperience_title {
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  @media (max-width: 800px) {
    font-size: 28px;
  }
  @media (max-width: 800px) {
    font-size: 25px;
  }
}

.list {
  border-left: 3px solid #2e344e;
}

.listItem {
  display: flex;
  padding: 10px 0 0px 20px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (max-width: 510px) {
    display: block;
  }
}

.listItemLeft {
  color: #a4acc4;
  font-size: 23px;
  flex: 0 1 25%;
  height: 100%;
  width: 100%;
  position: relative;
  @media (max-width: 800px) {
    font-size: 18px;
  }
  @media (max-width: 510px) {
    margin-bottom: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -29px;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background: #10121b;
    border: 3px solid #2e344e;
  }
}

.listItemRight {
  flex: 0 1 75%;
  display: flex;
  flex-direction: column;
  @media (max-width: 800px) {
    flex: 0 1 70%;
  }
}


.listItemRight_title {
  color: #037fff;
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 30px;
    top: 12px;
    left: -50px;
    background: #2e344e;
  }
}

.listItemRight_text {
  color: #a4acc4;
  font-size: 23px;
  line-height: 35px;
  @media (max-width: 800px) {
    font-size: 18px;
  }
}