.wrapperResume {
  padding: 0 70px 50px 70px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #131521;
  z-index: 50;
  @media (max-width: 1000px) {
    padding: 0 10px 50px 10px;
  }

}

.line {
  background-color: #2e344e;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &:nth-child(1) {
    top: 0;
    left: 20%;
  }

  &:nth-child(2) {
    top: 0;
    left: 40%;
  }

  &:nth-child(3) {
    top: 0;
    left: 60%;
  }

  &:nth-child(4) {
    top: 0;
    left: 80%;
  }
}

.mySkills_Block {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 55;
  @media (max-width: 450px) {
    justify-content: center;
  }
}

.mySkills_item {
  padding: 20px 30px;
  margin: 10px 10px;
  background: #037fff;
  border-radius: 5px;
  font-size: 20px;
  @media (max-width: 4100px) {
    font-size: 35px;
  }
  @media (max-width: 2000px) {
    font-size: 20px;
  }
  @media (max-width: 800px) {
    font-size: 15px;
    padding: 10px 15px;
  }


  &:last-child {
    margin-right: 0;
  }
}


.workingExperience {
  display: flex;
  margin: 50px 0 30px 0;

  svg {
    margin-right: 10px;
    width: 40px;
    height: 35px;
  }
}

.workingExperience_title {
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  @media (max-width: 800px) {
    font-size: 28px;
  }
  @media (max-width: 800px) {
    font-size: 25px;
  }
}

.list {
  border-left: 3px solid #2e344e;
}

.listItem {
  display: flex;
  padding: 10px 0 0px 20px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (max-width: 510px) {
    display: block;
  }
}

.listItemLeft {
  color: #a4acc4;
  font-size: 23px;
  flex: 0 1 25%;
  height: 100%;
  width: 100%;
  position: relative;
  @media (max-width: 4100px) {
    font-size: 35px;
    line-height: 45px;
  }
  @media (max-width: 2000px) {
    font-size: 23px;
  }
  @media (max-width: 800px) {
    font-size: 18px;
  }
  @media (max-width: 510px) {
    margin-bottom: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -29px;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background: #10121b;
    border: 3px solid #2e344e;
  }
}

.listItemRight {
  flex: 0 1 75%;
  display: flex;
  flex-direction: column;
  @media (max-width: 800px) {
    flex: 0 1 70%;
  }
}


.listItemRight_title {
  color: #037fff;
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 30px;
    top: 12px;
    left: -50px;
    background: #2e344e;
  }

  @media (max-width: 4100px) {
    font-size: 35px;
    line-height: 45px;
  }
  @media (max-width: 2000px) {
    font-size: 26px;
  }

}

.listItemRight_text {
  color: #a4acc4;
  font-size: 23px;
  line-height: 35px;
  @media (max-width: 800px) {
    font-size: 18px;
  }
  @media (max-width: 4100px) {
    font-size: 35px;
    line-height: 45px;
  }
  @media (max-width: 2000px) {
    font-size: 26px;
  }
}

.Sertificate {
  color: #b3b3b3;
  text-decoration: underline;
}