.line {
  background-color: rgba(164, 172, 196, 0.07);
  width: 1px;
  height: 100%;
  position: absolute;

  &:nth-child(1) {
    top: 0;
    left: 30%;
  }

  &:nth-child(2) {
    top: 0;
    left: 48%;
  }

  &:nth-child(3) {
    top: 0;
    left: 66%;
  }

  &:nth-child(4) {
    top: 0;
    left: 85%;
  }
}

.about_me {
  padding: 0 70px;
}

.title_block {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.title_block_heading {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.7rem;
  padding: 120px 0 20px 0;
}

.title_block_dash {
  width: 120px;
  height: 7px;
  background-color: rgba(3, 127, 255, 0.57);
  border-radius: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #037fff;
    border-radius: 20px;
  }
}

.about_meTitle {
  font-family: Nunito, sans-serif;
  font-size: 40px;
  margin-bottom: 30px;

}

.servise_titleSpan {
  font-family: Nunito, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #037fff;
}

.about_meText {
  font-family: Nunito, sans-serif;
  font-size: 23px;
  margin-bottom: 16px;
  line-height: 2rem;
  color: #a4acc4;

}

.about_meListText {
  font-family: Nunito, sans-serif;
  font-size: 23px
}

.about_meBottom {
  display: flex;
  justify-content: space-between;
}

.about_mePhoto {
  flex: 0 1 49%;
  width: 100%;
  height: 100%;
}

.about_mePhotoImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.about_meBlockText {
  flex: 0 1 49%;
  flex-wrap: wrap;
  line-height: 1.9rem;
}

.about_meList {
  font-family: Nunito, sans-serif;
  font-size: 23px;
  color: #a4acc4;
  line-height: 2.7rem;
  display: flex;
  margin-bottom:30px ;
}

.about_meListTextLeft {
  margin-right: 15px;
}

.about_meButton{
  background-color: #037fff;
  padding: 20px 30px;
}

.about_meUttonLink{
  height: 100%;
  font-size: 18px;
  font-family: Nunito, sans-serif;
  color: white;
  letter-spacing: 3px;

}
